@keyframes ldio {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  transform: scale(0.5);
}
.ldio div {
  position: absolute;
  border-width: 8px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio div:nth-child(1) {
  border-color: dodgerblue;
  animation-delay: 0s;
}
.ldio div:nth-child(2) {
  border-color: #69e721;
  animation-delay: -0.5s;
}
.loadingio {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio div {
  box-sizing: content-box;
}
