header,
section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  padding: 0rem 2rem;
  border-radius: 12px;
}

header {
  margin-bottom: 5px;
  padding: 0;
  height: 40px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #027310;
  border: none;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #049f16;
}

h4 {
  width: 300px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  background: rgb(148, 73, 65);
  color: white;
}
